.reveal h2 {
	font-size: 1em;
}

.reveal li {
	margin: 5px;
}

.reveal section img {
	background-color: transparent;
	border: 0;
	box-shadow: none;
}

.reveal pre {
	width: 100%;
}

.reveal code:not(.hljs){
	color: #F92672;
	padding: 3px 5px;
	border-radius: 0.2em;
	border: 0.07em solid #1D1D1D;
	background-color: #373832;
}
